body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 4.4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.5rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 1.12rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 0.98rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.52rem;
    font-size: calc( 2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sCKyvVGBvN {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sCKyvVGBvN nav.navbar {
  position: fixed;
}
.cid-sCKyvVGBvN .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sCKyvVGBvN .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sCKyvVGBvN .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sCKyvVGBvN .dropdown-item:hover,
.cid-sCKyvVGBvN .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-sCKyvVGBvN .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sCKyvVGBvN .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sCKyvVGBvN .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sCKyvVGBvN .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sCKyvVGBvN .nav-link {
  position: relative;
}
.cid-sCKyvVGBvN .container {
  display: flex;
  margin: auto;
}
.cid-sCKyvVGBvN .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sCKyvVGBvN .dropdown-menu,
.cid-sCKyvVGBvN .navbar.opened {
  background: #ffffff !important;
}
.cid-sCKyvVGBvN .nav-item:focus,
.cid-sCKyvVGBvN .nav-link:focus {
  outline: none;
}
.cid-sCKyvVGBvN .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sCKyvVGBvN .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sCKyvVGBvN .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sCKyvVGBvN .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sCKyvVGBvN .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sCKyvVGBvN .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sCKyvVGBvN .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sCKyvVGBvN .navbar.opened {
  transition: all 0.3s;
}
.cid-sCKyvVGBvN .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sCKyvVGBvN .navbar .navbar-logo img {
  width: auto;
}
.cid-sCKyvVGBvN .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sCKyvVGBvN .navbar.collapsed {
  justify-content: center;
}
.cid-sCKyvVGBvN .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sCKyvVGBvN .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sCKyvVGBvN .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.9rem);
  }
}
.cid-sCKyvVGBvN .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sCKyvVGBvN .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sCKyvVGBvN .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sCKyvVGBvN .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sCKyvVGBvN .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sCKyvVGBvN .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sCKyvVGBvN .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sCKyvVGBvN .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sCKyvVGBvN .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sCKyvVGBvN .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sCKyvVGBvN .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sCKyvVGBvN .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sCKyvVGBvN .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sCKyvVGBvN .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sCKyvVGBvN .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sCKyvVGBvN .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sCKyvVGBvN .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sCKyvVGBvN .navbar.navbar-short {
  min-height: 60px;
}
.cid-sCKyvVGBvN .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sCKyvVGBvN .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sCKyvVGBvN .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sCKyvVGBvN .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sCKyvVGBvN .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sCKyvVGBvN .dropdown-item.active,
.cid-sCKyvVGBvN .dropdown-item:active {
  background-color: transparent;
}
.cid-sCKyvVGBvN .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sCKyvVGBvN .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sCKyvVGBvN .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sCKyvVGBvN .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sCKyvVGBvN .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sCKyvVGBvN .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sCKyvVGBvN ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sCKyvVGBvN .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sCKyvVGBvN button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sCKyvVGBvN button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sCKyvVGBvN button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sCKyvVGBvN button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sCKyvVGBvN button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sCKyvVGBvN button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sCKyvVGBvN nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sCKyvVGBvN nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sCKyvVGBvN nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sCKyvVGBvN nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sCKyvVGBvN .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sCKyvVGBvN a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sCKyvVGBvN .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sCKyvVGBvN .navbar {
    height: 70px;
  }
  .cid-sCKyvVGBvN .navbar.opened {
    height: auto;
  }
  .cid-sCKyvVGBvN .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sCA3XmSqFu {
  display: flex;
  background-image: url("../../../assets/images/d840b8a5af3401b0e2440270a9f05f8-2000x833.png");
}
.cid-sCA3XmSqFu .mbr-overlay {
  background-color: #353535;
  opacity: 0.5;
}
.cid-sCA3XmSqFu .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 768px) {
  .cid-sCA3XmSqFu {
    align-items: flex-end;
  }
  .cid-sCA3XmSqFu .row {
    justify-content: flex-start;
  }
  .cid-sCA3XmSqFu .content-wrap {
    width: 20%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sCA3XmSqFu .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-sCA3XmSqFu {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-sCA3XmSqFu .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-sCA3XmSqFu .content-wrap {
    width: 100%;
  }
}
.cid-sCA3XmSqFu .mbr-section-title {
  text-align: left;
  color: #fafafa;
}
.cid-sCyIcev7OR {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sCyIcev7OR .item {
  padding-bottom: 2rem;
}
.cid-sCyIcev7OR .item-wrapper {
  position: relative;
}
.cid-sCyIcev7OR .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-sCyIcev7OR .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-sCyIcev7OR .carousel-control,
.cid-sCyIcev7OR .close {
  background: #1b1b1b;
}
.cid-sCyIcev7OR .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sCyIcev7OR .carousel-control-prev span {
  margin-right: 5px;
}
.cid-sCyIcev7OR .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sCyIcev7OR .carousel-control-next span {
  margin-left: 5px;
}
.cid-sCyIcev7OR .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sCyIcev7OR .close::before {
  content: '\e91a';
}
.cid-sCyIcev7OR .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sCyIcev7OR .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sCyIcev7OR .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sCyIcev7OR .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sCyIcev7OR .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sCyIcev7OR .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-sCyIcev7OR .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sCyIcev7OR .carousel-indicators li.active,
.cid-sCyIcev7OR .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sCyIcev7OR .carousel-indicators li::after,
.cid-sCyIcev7OR .carousel-indicators li::before {
  content: none;
}
.cid-sCyIcev7OR .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sCyIcev7OR .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-sCyIcev7OR .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sCyIcev7OR .carousel-indicators {
    display: none;
  }
}
.cid-sCyIcev7OR .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sCyIcev7OR .carousel-inner > .active {
  display: block;
}
.cid-sCyIcev7OR .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sCyIcev7OR .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sCyIcev7OR .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sCyIcev7OR .carousel-control,
  .cid-sCyIcev7OR .carousel-indicators,
  .cid-sCyIcev7OR .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sCyIcev7OR .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sCyIcev7OR .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sCyIcev7OR .carousel-indicators .active,
.cid-sCyIcev7OR .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-sCyIcev7OR .carousel-indicators .active {
  background: #fff;
}
.cid-sCyIcev7OR .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sCyIcev7OR .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sCyIcev7OR .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sCyIcev7OR .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sCyIcev7OR .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sCyIcev7OR .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sCyIcev7OR .carousel {
  width: 100%;
}
.cid-sCyIcev7OR .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sCyIcev7OR .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-sCyIcev7OR .modal.fade .modal-dialog,
.cid-sCyIcev7OR .modal.in .modal-dialog {
  transform: none;
}
.cid-sCyIcev7OR .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sCyIcev7OR H6 {
  text-align: center;
}
.cid-sCyIcev7OR H4 {
  color: #425f93;
}
.cid-sCyIcev7OR H3 {
  color: #425f93;
}
.cid-sCzYLpBODb {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sCzYLpBODb .mbr-text {
  color: #425f93;
}
.cid-sCA0ZmN0AD {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sCA0ZmN0AD img,
.cid-sCA0ZmN0AD .item-img {
  width: 100%;
}
.cid-sCA0ZmN0AD .item:focus,
.cid-sCA0ZmN0AD span:focus {
  outline: none;
}
.cid-sCA0ZmN0AD .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sCA0ZmN0AD .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sCA0ZmN0AD .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sCA0ZmN0AD .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sCA0ZmN0AD .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sCA0ZmN0AD .mbr-section-title {
  color: #425f93;
}
.cid-sCA0ZmN0AD .mbr-text,
.cid-sCA0ZmN0AD .mbr-section-btn {
  text-align: left;
}
.cid-sCA0ZmN0AD .item-title {
  text-align: left;
}
.cid-sCA0ZmN0AD .item-subtitle {
  text-align: center;
  color: #425f93;
}
.cid-sCA1cYkI98 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sCA1cYkI98 .mbr-text {
  color: #425f93;
}
.cid-sCB5QjWZyO {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-sCB5QjWZyO .item {
  padding-bottom: 2rem;
}
.cid-sCB5QjWZyO .item-wrapper {
  position: relative;
}
.cid-sCB5QjWZyO .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-sCB5QjWZyO .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-sCB5QjWZyO .carousel-control,
.cid-sCB5QjWZyO .close {
  background: #1b1b1b;
}
.cid-sCB5QjWZyO .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sCB5QjWZyO .carousel-control-prev span {
  margin-right: 5px;
}
.cid-sCB5QjWZyO .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sCB5QjWZyO .carousel-control-next span {
  margin-left: 5px;
}
.cid-sCB5QjWZyO .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sCB5QjWZyO .close::before {
  content: '\e91a';
}
.cid-sCB5QjWZyO .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sCB5QjWZyO .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sCB5QjWZyO .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sCB5QjWZyO .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sCB5QjWZyO .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sCB5QjWZyO .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-sCB5QjWZyO .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sCB5QjWZyO .carousel-indicators li.active,
.cid-sCB5QjWZyO .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sCB5QjWZyO .carousel-indicators li::after,
.cid-sCB5QjWZyO .carousel-indicators li::before {
  content: none;
}
.cid-sCB5QjWZyO .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sCB5QjWZyO .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-sCB5QjWZyO .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sCB5QjWZyO .carousel-indicators {
    display: none;
  }
}
.cid-sCB5QjWZyO .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sCB5QjWZyO .carousel-inner > .active {
  display: block;
}
.cid-sCB5QjWZyO .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sCB5QjWZyO .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sCB5QjWZyO .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sCB5QjWZyO .carousel-control,
  .cid-sCB5QjWZyO .carousel-indicators,
  .cid-sCB5QjWZyO .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sCB5QjWZyO .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sCB5QjWZyO .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sCB5QjWZyO .carousel-indicators .active,
.cid-sCB5QjWZyO .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-sCB5QjWZyO .carousel-indicators .active {
  background: #fff;
}
.cid-sCB5QjWZyO .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sCB5QjWZyO .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sCB5QjWZyO .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sCB5QjWZyO .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sCB5QjWZyO .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sCB5QjWZyO .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sCB5QjWZyO .carousel {
  width: 100%;
}
.cid-sCB5QjWZyO .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sCB5QjWZyO .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-sCB5QjWZyO .modal.fade .modal-dialog,
.cid-sCB5QjWZyO .modal.in .modal-dialog {
  transform: none;
}
.cid-sCB5QjWZyO .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sCB5QjWZyO H6 {
  text-align: center;
  color: #425f93;
}
.cid-sCB5QjWZyO H3 {
  color: #425f93;
}
.cid-sCAQX5O8sF {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sCAQX5O8sF img,
.cid-sCAQX5O8sF .item-img {
  width: 100%;
}
.cid-sCAQX5O8sF .item:focus,
.cid-sCAQX5O8sF span:focus {
  outline: none;
}
.cid-sCAQX5O8sF .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sCAQX5O8sF .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sCAQX5O8sF .item {
  padding: 0;
  margin: 0;
}
.cid-sCAQX5O8sF .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sCAQX5O8sF .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sCAQX5O8sF .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sCAQX5O8sF .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sCAQX5O8sF .mbr-section-title {
  color: #425f93;
}
.cid-sCAQX5O8sF .item-title {
  text-align: center;
}
.cid-sCDIGWJ68H {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sCDIGWJ68H .mbr-overlay {
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-sCDIGWJ68H .carousel {
    min-height: 600px;
  }
  .cid-sCDIGWJ68H .carousel img {
    max-height: 600px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sCDIGWJ68H .carousel {
    min-height: 390px;
  }
  .cid-sCDIGWJ68H .carousel img {
    max-height: 390px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-sCDIGWJ68H .carousel {
    min-height: 330px;
  }
  .cid-sCDIGWJ68H .carousel img {
    max-height: 330px;
    object-fit: contain;
  }
  .cid-sCDIGWJ68H .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sCDIGWJ68H .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sCDIGWJ68H .carousel,
.cid-sCDIGWJ68H .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sCDIGWJ68H .item-wrapper {
  width: 100%;
}
.cid-sCDIGWJ68H .carousel-caption {
  bottom: 40px;
}
.cid-sCDIGWJ68H .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-sCDIGWJ68H .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sCDIGWJ68H .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sCDIGWJ68H .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sCDIGWJ68H .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sCDIGWJ68H .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sCDIGWJ68H .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sCDIGWJ68H .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sCDIGWJ68H .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sCDIGWJ68H .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sCDIGWJ68H .carousel-indicators li.active,
.cid-sCDIGWJ68H .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sCDIGWJ68H .carousel-indicators li::after,
.cid-sCDIGWJ68H .carousel-indicators li::before {
  content: none;
}
.cid-sCDIGWJ68H .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sCDIGWJ68H .carousel-indicators {
    display: none !important;
  }
}
.cid-sCKrc1hbtg {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sCKrc1hbtg .video-wrapper iframe {
  width: 100%;
}
.cid-sCKrc1hbtg .mbr-section-title,
.cid-sCKrc1hbtg .mbr-section-subtitle,
.cid-sCKrc1hbtg .mbr-text {
  text-align: center;
}
.cid-sCKrc1hbtg .mbr-section-title {
  color: #425f93;
}
.cid-sCUDRmd3fN {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sCUDRmd3fN .video-wrapper iframe {
  width: 100%;
}
.cid-sCUDRmd3fN .mbr-section-title,
.cid-sCUDRmd3fN .mbr-section-subtitle,
.cid-sCUDRmd3fN .mbr-text {
  text-align: center;
}
.cid-sCUDRmd3fN .mbr-section-title {
  color: #425f93;
}
.cid-sCKtteHcSv {
  padding-top: 6rem;
  padding-bottom: 8rem;
  background-color: #ffffff;
}
.cid-sCKtteHcSv .video-wrapper iframe {
  width: 100%;
}
.cid-sCKtteHcSv .mbr-section-title,
.cid-sCKtteHcSv .mbr-section-subtitle,
.cid-sCKtteHcSv .mbr-text {
  text-align: center;
}
.cid-sCKtteHcSv .mbr-section-title {
  color: #425f93;
}
.cid-sCB6TdBInl {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sCB6TdBInl .image-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 1rem;
  overflow: hidden;
}
.cid-sCB6TdBInl .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cid-sCB6TdBInl .mbr-section-title {
  color: #425f93;
}
.cid-sCKxmClVIU {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/bottom2-1920x384.jpg");
  overflow: hidden;
}
